@charset "UTF-8";
fieldset{
	width: 35%;
	text-align: center;
	border-style: none;
	border-radius: 6px;
}
h1{
	color: rgb(255, 47, 110);
}
#loginbutton{
	cursor: pointer;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 44px;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(255, 47, 110);
    border-radius: 6px;
    margin: 16px 0px 0px;
}
#finduserpw{
	cursor: pointer;
    color: rgb(255, 47, 110);
    background: none;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px;
}
#joinbutton{
	cursor: pointer;
    color: rgb(255, 47, 110);
    background: none;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px;
}
#loginwithfacebook{
	color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 44px;
    position: relative;
    border-radius: 6px;
    background: rgb(60, 90, 160);
}